#about-wrapper {
    pointer-events: none;
    position: fixed;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    overflow: hidden;
}

#about-scroll-wrapper {
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
}

#about-description {
    pointer-events: none;
    top: 50px;
    padding: 30px;
    position: fixed;
    left: 0;
    width: 50%;
}

#about-image {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

#about-text {
    position: relative;
    text-align: justify;
}